BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
ADMIN_IDS=123456789,987654321
DATABASE_URL=postgresql://postgres:password@host.railway.app:5432/railway
CHANNEL_ID=-1001234567890
CHANNEL_USERNAME=@kanalim
CARD_NUMBER=8600 0000 0000 0000
CARD_OWNER=Ism Familiya
VIP_PRICE=20000
VIP_REF_COUNT=7
VIP_MONTHS=1
REFERRAL_BONUS=200
WORD_LEARN_BONUS=2
TEST_SCORE_BONUS=10
LEVEL_TEST_BONUS=5,20,35
SURVEY_BONUS=500
PRIZE_BALL_TARGET=10000
PRIZE_SCORE_AMOUNT=10000
PRIZE_MIN_REFERRAL=1
PRIZE_REF_AMOUNT=10000
MIN_REFERRALS_FOR_BONUS=5
WEEKLY_BONUS_PRICE=10000
BATTLE_QUESTION_COUNT=20
BATTLE_TIMEOUT=20
BATTLE_WIN_BALL=50
BATTLE_LOSE_BALL=50
BATTLE_LEAVE_BALL=100
BATTLE_FRIEND_LEAVE=0
